In [1]:
# 1.A bag contains 5 red balls, 4 blue balls, and 3 green balls. One ball is drawn at random. 
# a. What is the probability of getting a red ball? 
# b. What is the probability of getting a red or blue ball? 
# c. What is the probability of not getting a green ball?

red = 5
blue = 4
green = 3
total = red + blue + green

# <!-- (a)-->
p_red = red/total


# (b)
p_red_or_p_blue = (red + blue)/total

# (c)
p_not_green = 1-(green/total)

print(f"probability of red ball = {p_red}")
print(f"probability of red or blue ball = {p_red_or_p_blue}")
print(f"probability of not green ball = {p_not_green}")

probability of red ball = 0.4166666666666667
probability of red or blue ball = 0.75
probability of not green ball = 0.75

In [2]:
# <!-- 2.Given two vectors: 
# A = [2, 3, 1] and B = [1, 0, 4] 
# a. Find the dot product of A and B 
# b. Are the vectors orthogonal?
#  -->

A = [2, 3, 1]
B = [1, 0, 4] 

# a.
dot_product = sum(a*b for a,b in zip (A,B))
print(f"dot product = {dot_product}")


# b.
if dot_product == 0:
    print("Vector are orthogonal")
else:
    print("Vector are  not orthogonal")

dot product = 6
Vector are  not orthogonal

In [5]:
# 3.You are given the following marks of 20 students: 
# 69,35,26,55,28,99,69,50,31,32,23,28,77,80,75,45,69,61,27,48,97 
# a. Find the mean, median, and mode 
# b. Calculate standard deviation 
# c. Comment on the symmetry of the data distribution.

marks = [69,35,26,55,28,99,69,50,31,32,23,28,77,80,75,45,69,61,27,48,97]

# a.
mean = np.mean(marks)
median = np.median(marks)
mode = stats.mode(marks)

print(f"mean = {mean}")
print(f"median={median}")
print(f"mode={mode}")


# b.
std_dev = np.std(marks)
print(f"standard deviation = {std_dev}")

# c.
skewness = stats.skew(marks)
print(f"skewness = {skewness}")

# comment
if skewness > 0:
    print("the data is right-skewed")
elif skewness < 0:
    print("the data is left-skewed")
else:
    print("the data is symmetric.")

mean = 53.523809523809526
median=50.0
mode=ModeResult(mode=69, count=3)
standard deviation = 23.475659223197948
skewness = 0.3657833805133538
the data is right-skewed

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [3]:
df = pd.read_csv("Student Attitude and Behavior.csv")

In [4]:
df

,Certification Course,Gender,Department,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,hobbies,daily studing time,prefer to study in,salary expectation,Do you like your degree?,willingness to pursue a career based on their degree,social medai & video,Travelling Time,Stress Level,Financial Status,part-time job
0,No,Male,BCA,100.0,58.0,79.0,64.0,80.0,Video Games,0 - 30 minute,Morning,40000,No,50%,1.30 - 2 hour,30 - 60 minutes,Bad,Bad,No
1,No,Female,BCA,90.0,40.0,70.0,80.0,70.0,Cinema,30 - 60 minute,Morning,15000,Yes,75%,1 - 1.30 hour,0 - 30 minutes,Bad,Bad,No
2,Yes,Male,BCA,159.0,78.0,71.0,61.0,55.0,Cinema,1 - 2 Hour,Anytime,13000,Yes,50%,More than 2 hour,30 - 60 minutes,Awful,Bad,No
3,Yes,Female,BCA,147.0,20.0,70.0,59.0,58.0,Reading books,1 - 2 Hour,Anytime,1500000,No,50%,1.30 - 2 hour,0 - 30 minutes,Bad,good,No
4,No,Male,BCA,170.0,54.0,40.0,65.0,30.0,Video Games,30 - 60 minute,Morning,50000,Yes,25%,1.30 - 2 hour,30 - 60 minutes,Good,good,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Yes,Male,B.com ISM,170.0,76.0,72.0,67.0,65.0,Video Games,30 - 60 minute,Morning,7000,Yes,50%,More than 2 hour,30 - 60 minutes,Bad,Bad,No
231,Yes,Male,B.com ISM,172.0,52.0,72.0,70.0,76.0,Cinema,2 - 3 hour,Anytime,25000,Yes,75%,30 - 60 Minute,30 - 60 minutes,Good,good,No
232,Yes,Female,BCA,139.0,33.0,90.0,75.0,70.0,Cinema,30 - 60 minute,Night,20000,Yes,50%,30 - 60 Minute,2.30 - 3 hour,Bad,good,No
233,Yes,Female,Commerce,153.0,58.0,85.0,74.0,75.0,Cinema,0 - 30 minute,Anytime,20000,Yes,75%,More than 2 hour,2.30 - 3 hour,Awful,good,No
234,No,Female,B.com ISM,155.0,39.0,45.0,45.0,50.0,Sports,3 - 4 hour,Night,10,No,75%,30 - 60 Minute,2.30 - 3 hour,fabulous,good,No

In [8]:
df.columns

Index(['Certification Course', 'Gender', 'Department', 'Height(CM)',
       'Weight(KG)', '10th Mark', '12th Mark', 'college mark', 'hobbies',
       'daily studing time', 'prefer to study in', 'salary expectation',
       'Do you like your degree?',
       'willingness to pursue a career based on their degree  ',
       'social medai & video', 'Travelling Time ', 'Stress Level ',
       'Financial Status', 'part-time job'],
      dtype='object')

In [5]:
# 4. Use the “Student Attitude and Behavior” dataset and select the following columns: Height, 
# Weight, 10th Marks, 12th Marks. 
# a Find Mean, Median, Mode and Quartiles 
# b Find Skewness, kurtosis and Interpretation Based on the Skewness, kurtosis.

cols = ["Height(CM)", "Weight(KG)", "10th Mark", "12th Mark"]
data = df[cols].apply(pd.to_numeric, errors='coerce').dropna()

# a.
# Mean, Median, Mode
mean_values = data.mean()
median_values = data.median()
mode_values = data.mode().iloc[0]

# Quartiles
Q1 = data.quantile(0.25)
Q2 = data.quantile(0.5)
Q3 = data.quantile(0.75)

print(" Mean:\n", mean_values)
print("\n Median:\n", median_values)
print("\n Mode:\n", mode_values)

print("\n Quartiles:")

print("\n Q1 (25%):\n", Q1)
print("\n Q2 (50%):\n", Q2)
print("\n Q3 (75%):\n", Q3)

# b.
cols = ["Height(CM)", "Weight(KG)", "10th Mark", "12th Mark"]
data = df[cols].apply(pd.to_numeric, errors='coerce').dropna()

# Skewness & Kurtosis

skewness = data.skew()
kurt = data.kurtosis()

print("\n Skewness:\n", skewness)
print("\n Kurtosis:\n", kurt)

print("\n Interpretation:")

for col in data.columns:
    s = skewness[col]
    k = kurt[col]

    # Skewness interpretation
    if s > 0:
        skew_text = "Positively Skewed"
    elif s < 0:
        skew_text = "Negatively Skewed"
    else:
        skew_text = "Symmetric"

    # Kurtosis interpretation
    if k > 3:
        kurt_text = "Leptokurtic"
    elif k < 3:
        kurt_text = "Platykurtic"
    else:
        kurt_text = "Mesokurtic"

    print(f"\n {col}:")
    print(f"   Skewness = {s:.2f} → {skew_text}")
    print(f"   Kurtosis = {k:.2f} → {kurt_text}")

 Mean:
 Height(CM)    157.402128
Weight(KG)     60.803830
10th Mark      76.848511
12th Mark      68.775872
dtype: float64

 Median:
 Height(CM)    160.0
Weight(KG)     60.0
10th Mark      80.0
12th Mark      69.0
dtype: float64

 Mode:
 Height(CM)    160.0
Weight(KG)     60.0
10th Mark      60.0
12th Mark      60.0
Name: 0, dtype: float64

 Quartiles:

 Q1 (25%):
 Height(CM)    152.0
Weight(KG)     50.0
10th Mark      70.0
12th Mark      60.0
Name: 0.25, dtype: float64

 Q2 (50%):
 Height(CM)    160.0
Weight(KG)     60.0
10th Mark      80.0
12th Mark      69.0
Name: 0.5, dtype: float64

 Q3 (75%):
 Height(CM)    170.00
Weight(KG)     70.00
10th Mark      86.25
12th Mark      76.00
Name: 0.75, dtype: float64

 Skewness:
 Height(CM)   -2.579433
Weight(KG)    0.248998
10th Mark    -1.150167
12th Mark     0.069232
dtype: float64

 Kurtosis:
 Height(CM)    12.004228
Weight(KG)    -0.350902
10th Mark      2.641213
12th Mark     -0.639600
dtype: float64

 Interpretation:

 Height(CM):
   Skewness = -2.58 → Negatively Skewed
   Kurtosis = 12.00 → Leptokurtic

 Weight(KG):
   Skewness = 0.25 → Positively Skewed
   Kurtosis = -0.35 → Platykurtic

 10th Mark:
   Skewness = -1.15 → Negatively Skewed
   Kurtosis = 2.64 → Platykurtic

 12th Mark:
   Skewness = 0.07 → Positively Skewed
   Kurtosis = -0.64 → Platykurtic

In [22]:
# 5. An investment analyst wants to assess the relationship between the stock prices of two 
# companies to identify potential investment opportunities. Data: Let's consider the daily 
# closing prices (in dollars) of Company A and Company B for a sample of 20 trading days:  
# Company A: 45, 47, 48, 50, 52, 53, 55, 56, 58, 60, 62, 64, 65, 67, 69, 70, 72, 74, 76, 77 
# Company B: 52, 54, 55, 57, 59, 60, 61, 62, 64, 66, 67, 69, 71, 73, 74, 76, 78, 80, 82, 83 
# • Calculate the covariance and correlation between the stock prices of Company A 
# and Company B. Interpret the value of the covariance and explain the nature of the 
# relationship between the two stocks.

company_A = [45, 47, 48, 50, 52, 53, 55, 56, 58, 60, 62, 64, 65, 67, 69, 70, 72, 74, 76, 77]
company_B = [52, 54, 55, 57, 59, 60, 61, 62, 64, 66, 67, 69, 71, 73, 74, 76, 78, 80, 82, 83]

# Create DataFrame
df = pd.DataFrame({'Company A': company_A, 'Company B': company_B})

# Covariance
covariance = df['Company A'].cov(df['Company B'])

# Correlation
correlation = df['Company A'].corr(df['Company B'])

print("Covariance between Company A and B:", covariance)
print("Correlation between Company A and B:", correlation)

Covariance between Company A and B: 97.52631578947368
Correlation between Company A and B: 0.9985957269963789